* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav section starts here */
.nav-ber-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
}
.logo {
  display: flex;
  align-items: center;
  background-color: rgb(204, 203, 203);
  padding: 5px 10px;
  gap: 10px;
  border-radius: 5px;
}
.logo-container {
  display: flex;
}
.f-png {
  width: 55px;
  margin-right: 10px;
}
.h-3 {
  font-size: 32px;
  font-weight: 700;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-items > ul {
  display: flex;
}
.menu-container li {
  list-style: none;
  margin-right: 30px;
}
.menu-container li > a {
  text-decoration: none;
  color: rgb(73, 70, 70);
}
.logo a {
  text-decoration: none;
  color: rgb(73, 70, 70);
}

@media screen and (max-width: 576px) {
  .nav-ber-container {
    flex-direction: column;
    justify-content: center;
  }
  .menu-container {
    flex-direction: column;
  }
  .menu-items > ul {
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
  }

  .logo-container {
    justify-content: center;
    margin-bottom: 20px;
  }
  .logo {
    margin-top: 20px;
  }
}
/* nav section ends here */

/* banner section starts here */

.banner {
  display: flex;
  justify-content: space-between;
 
}
.banner-description {
  width: 60%;
  padding-left: 210px;
  padding-top: 50px;
  background-image: url('images/Group\ 14.png');
  background-repeat: no-repeat;
  background-size: cover;
 
}

.banner-intro {
  color: #0b0223;
  font-size: 28px;
  font-weight: 600;
}
.banner-title {
  font-size: 64px;
  color: rgb(245, 40, 245);
  font-weight: 800;
  padding: 10px 0 10px 0;
}
.p-1 {
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
}
.p-2 {
    margin-bottom: 20px;
}
 .btn-primary {
    border: none;
    border-radius: 50px;
    color:white;
    background-color:rgb(255, 123, 167);
    padding: 12px 18px;
    font-size: large;
    
 }
.btn-2 {
    border: none;
    border-radius: 50px;
    color:white;
    background-color:rgb(36, 238, 221);
    padding: 12px 18px;
    font-size: large;
    
}
.banner-image img {
  width: 100%;
  padding-right: 210px;
}

/* banner section ends here */
